{{- define "main" }}
<div class="container my-4">
    <div class="row">
        <div class="col-6 mx-auto col-md-6 order-md-2">
            <img src="images/hero.png" class="img-fluid" />
        </div>
        <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
            <h1 class="mb-3 bd-text-purple-bright">Learn In Place</h1>
            <p class="lead">
                COVID-19 is shutting down schools all over the world. We've been sheltering in place since the middle of
                March. Our school district, San Jose Unified, has announced that school will not resume this year but
                learning will still take place online.
            </p>
            <p class="lead mb-4">
                Most children didn't have the opportunity to take home school supplies on the last day of school. Some
                families aren't able to easily replace those supplies. This site will explain how we purchased supplies,
                packaged them and distributed them.
            </p>
            <div class="row mx-n2">
                <div class="col-md px-2">
                    <a href="/build_kits/" class="btn btn-lg btn-outline-primary w-100 mb-3"
                        onclick="ga('send', 'event', 'Jumbotron actions', 'Build kits', 'Build kits');">Build kits</a>
                </div>
                <div class="col-md px-2">
                    <a href="/r/en/sjusd" class="btn btn-lg btn-outline-secondary w-100 mb-3"
                        onclick="ga('send', 'event', 'Jumbotron actions', 'Learning resources', 'Learning resources');">Learning
                        resources</a>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="album bg-light py-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="images/supplies_thumb.png" class="img-fluid">
                    <div class="card-body">
                        <p class="card-text">
                            Each packet has the same set of items in it. We'll provide a template and you can feel free
                            to add more or less depending on your circumstances.
                        </p>
                        <p>
                            <a href="/build_kits">Go to packet materials</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/images/filled_packets_thumb.png" class="img-fluid">
                    <div class="card-body">
                        <p class="card-text">
                            Making the packets and filling them should be fun. We had a bunch of different designs on
                            the front.
                        </p>
                        <p>
                            <a href="/build_kits">Look at how we filled the packets</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">

                    <div class="card-body">
                        <p class="card-text">
                            Our school district distributes meals each weekday between 9 and 11. This ended up being a
                            perfect way to give out the packets.
                        </p>
                        <p>
                            <a href="/build_kits">See how we distributed the packets.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{- end }}