{{ define "main" }}
<div class="container mt-4">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
</div>

<ul class="list-group">
    <!-- Ranges through content/posts/*.md -->
    {{ range $index, $element := .Pages.ByWeight }}
    <li class="list-group-item">
        <div class="container">
            <h1><a name="{{ .Params.anchor }}"></a>{{ .Title }}</h1>
            <h2>{{ .Description }}</h2>
            <div class="row">
                {{ if (eq $index 0) }}
                <div class="col-sm-8 col-xs-12">
                    {{ .Content }}
                </div>
                <div class="col-sm-4 col-xs-12">
                    <img src="/images/{{ .Params.image }}" class="rounded mx-2 img-fluid" />
                </div>
                {{ else }}
                <div class="col-sm-4 col-xs-12">
                    <img src="/images/{{ .Params.image }}" class="rounded mx-2 img-fluid" />
                </div>
                <div class="col-sm-8 col-xs-12">
                    {{ .Content }}
                </div>
                {{ end }}
            </div>
        </div>
    </li>
    {{ end }}
</ul>
{{ end }}