<nav class="navbar navbar-expand navbar-dark flex-column flex-md-column flex-md-row bg-primary">
    <a class="navbar-brand" href="#">
        <img src="images/{{ .Site.Params.logo }}" alt="" height="60px">
    </a>

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/build-kits">Build kits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.sjusd.org/en/your-resources/covid-19-update/">SJUSD
                    resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>